<a href="https://colab.research.google.com/github/alex160798/project_02/blob/main/%D1%81%D0%B0%D0%BC%D0%BE%D1%81%D1%82_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Самостоятельная работа

In [40]:
import sqlite3

def get_connection():
  connection = sqlite3.connect('teachers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def create_table():
  try:
    connection = get_connection()
    cursor = connection.cursor()
    query = ("""CREATE TABLE Students
                (
                	  Student_id INTEGER NOT NULL PRIMARY KEY,
                  	Student_name varchar(100) NOT NULL,
                  	School_id INTEGER NOT NULL
                );""")
    
    cursor.execute(query)
    connection.commit()
    close_connection(connection)

  except (Exception, sqlite3.Error) as error:
    print('Ошибка при создании таблицы:', error)

def fill_table():
  try:
    connection = get_connection()
    cursor = connection.cursor()
    query = ("""INSERT INTO Students(student_id, student_name, school_id)
                VALUES
                	  (201, "Иван", 1),
                    (202, "Петр", 2),
                    (203, "Анастасия", 3),
                    (204, "Игорь", 4);""")
    
    cursor.execute(query)
    
    # проверка
    # query = ('SELECT * from Students')
    # data = cursor.execute(query)
    # print(*data)

    connection.commit()
    close_connection(connection)

  except (Exception, sqlite3.Error) as error:
    print('Ошибка при заполнении таблицы:', error)

def get_student(student_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    query = ("""SELECT st.student_id, st.student_name, sc.school_id, sc.school_name
                FROM Students AS st
                  JOIN School AS sc
                      ON st.School_id = sc.School_Id
                WHERE st.student_id = ?""")
    cursor.execute(query, (student_id, ))
    records = cursor.fetchall()
    print(f'Студент №{student_id}:\n')
    
    for row in records:
      print('\tID студента:', row[0])
      print('\tИмя:', row[1])
      print('\tID школы:', row[2])
      print('\tНазвание школы:', row[3],'\n')
    
    close_connection(connection)
  
  except (Exception, sqlite3.Error) as error:
    print('Ошибка в получении данных по студенту:\n', error)

print('Самостоятельная работа')
create_table()
fill_table()
get_student(202)

Самостоятельная работа
Ошибка при создании таблицы: table Students already exists
Ошибка при заполнении таблицы: UNIQUE constraint failed: Students.Student_id
Студент №202:

	ID студента: 202
	Имя: Петр
	ID школы: 2
	Название школы: Преспектива